<header class="page-header">
  <h1>Admin Dashboard</h1>
</header>

<div class="panel panel-default">
  <div class="panel-heading"><%= link_to 'Total Products', "/admin/products" %></div>
  <div class="panel-body"><%=@product.count%></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Total Categories</div>
  <div class="panel-body"><%=@category.count%></div>
</div>
