<header class="page-header">
<h1>About Us</h1>
</header>

<div class="jumbotron">
<article>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pulvinar nisl viverra,
  tempus felis eu, efficitur ipsum. Suspendisse tristique urna ac elit dignissim, at finibus nulla pretium.
  Pellentesque quis nulla ac leo pulvinar facilisis sed vitae felis. Quisque consequat dignissim est,
  vitae pretium tellus interdum condimentum. Maecenas non aliquet enim, sit amet accumsan felis. Nullam at varius eros.
  Nullam quis odio mi. 
</p>
<%= link_to 'Visit our products', :root%>


</article>
</div>